
/* Your CSS Code here. */
.holder{
	display:flex;
	justify-content: center;  
	align_center:center;
	flex:wrap;
	width:100vw;
	height:100vh;
	background_color:red;
}
.item1{
		flexbox:center;
	flex:wrap;
	width:100vw;
	height:100vh;
	background_color:red;

}